---
import BlogLayout from "../../layouts/BlogLayout.astro";
import Navigation from "../../components/Navigation.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
const { Content } = await post.render();
---

<BlogLayout title={`${post.data.title} | Blog`}>
    <Navigation slot="header" />

    <section class="blog-detail-main">
        <p class="blog-detail-breadcrumb">
            <a href="/portfolio/blog" class="breadcrumb-link">Blog</a> / {post.slug}
        </p>

        <h1 class="blog-detail-title">{post.data.title}</h1>

        <div class="blog-detail-layout">
            <div class="blog-detail-text">
                <Content />
            </div>

            {
                post.data.video ? (
                    <video
                        src={post.data.video}
                        autoplay
                        muted
                        loop
                        playsinline
                        class="blog-detail-img"
                    />
                ) : post.data.image ? (
                    <img
                        src={post.data.image}
                        alt={post.data.title}
                        class="blog-detail-img"
                    />
                ) : null
            }
        </div>
    </section>
</BlogLayout>
