---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import { getEntryBySlug, getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
if (!post) {
    throw new Error("Blog post not found");
}
---

<BaseLayout title={post.data.title + " | Blog"}>
    <Navigation />
    <main class="blog-detail">
        <h2>{post.data.title}</h2>
        {
            post.data.tags && (
                <div class="blog-tags">
                    {post.data.tags.map((tag) => (
                        <span class="blog-tag">{tag}</span>
                    ))}
                </div>
            )
        }

        {
            post.data.image && (
                <img
                    src={post.data.image}
                    alt={post.data.title}
                    class="project-detail-img"
                />
            )
        }
        <div class="blog-detail-body">{post.body}</div>
    </main>
</BaseLayout>
