---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Navigation from "../../components/Navigation.astro";
import { getCollection } from "astro:content";

const blogPosts = (await getCollection("blog")) as CollectionEntry<"blog">[];
---

<BaseLayout title="Blog | Mayke Jaspers">
    <Navigation />
    <main class="blog-main">
        <h2>All <span class="accent">blog posts</span></h2>
        <div class="blog-overview-grid">
            {
                blogPosts.map((post) => (
                    <a href={`/blog/${post.slug}`} class="blog-grid-card">
                        {post.data.image && (
                            <img
                                src={post.data.image}
                                alt={post.data.title}
                                class="blog-grid-img"
                            />
                        )}
                        <div class="blog-card-titlebar">
                            <span class="blog-grid-title">
                                {post.data.title}
                            </span>
                            <span class="blog-grid-desc">
                                {post.data.description}
                            </span>
                        </div>
                        <span class="blog-arrow">→</span>
                    </a>
                ))
            }
        </div>
    </main>
</BaseLayout>
